@model Ass2.Models.Student

<h2>Student Detail</h2>

<p><strong>Id:</strong> @Model.Id</p>
<p><strong>Full Name:</strong> @Model.FullName</p>
<p><strong>Dob:</strong> @Model.Dob</p>

<a asp-action="List">Back</a>
